  /* Icon Fontawesome&Xeicon */
  @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  @import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
  @media(min-width:701px) {

  /* Reset CSS */
  * {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }
.container {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  flex-wrap:nowrap;
}
  
[class*=fontawesome-]:before {
    font-family: "FontAwesome", sans-serif;
}

body {
    margin:0;
    font-family: "Raleway", sans-serif;
    background-color: lemonchiffon;
  
}

header {
  color: white;
  text-align: center;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color:#E5217D

}

header a:hover {
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(17, 226, 164);
}

header li {
  display: inline-block;
  padding-left: 50px;
  padding-bottom: 30px;

}

header ul {
  margin: 0px;
}

.linner,
.ginner {
  transition: 0.8s;
}

.linner {
  background-color: white;
  height: 50px;
  line-height: 50px;
}

.ginner {

  background-color: black;
  line-height: 30px;
  z-index: 30;
}

header.active .linner {
  display: none;

}

header.active .ginner {
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.548);
  transform: translateY(-210px);
}
.ginner img{
  width: 20%;
  margin-bottom: -5%;
}

/* Hamburger button */
   input[id=trigger] {
  display: none;
}
label[for=trigger] {
  width: 100px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar_2 label {
  width: 100%;
  height: 100%;
}
label[for=trigger] span {
  display: block;
  border-radius: 10%;
  height: 8px;
  background-color: white;
  position: absolute;
  width: 60px;
  left: 10px;
  transition: 0.3s;
  z-index: 1000;
  padding: 1px;
}
label[for=trigger] span:nth-child(1) {
  top: 80%;
}
label[for=trigger] span:nth-child(2) {
  top: 140%;
}
label[for=trigger] span:nth-child(3) {
  top: 200%;
}
/* Sidebar Hamburger lines rotate */
    input[id=trigger]:checked+label span:nth-child(1) {
  transform: rotate(45deg);
  top: 0%;
  background-color: rgb(80, 80, 80);
}
input[id=trigger]:checked+label span:nth-child(2) {
  opacity: 0;
}
input[id=trigger]:checked+label span:nth-child(3) {
  transform: rotate(-45deg);
  top: 0%;
  background-color: rgb(80, 80, 80);
}
input[id=trigger]:checked+label {
  left: 30%;
} 
header.active label[for=trigger] span{
  background-color: black;
}

 /* Hamburger menubar */
.sidebar_1 {
  width: 30%;
  height: 300vh;
  background-color: rgb(0, 60, 128);
  opacity: 90%;
  position: fixed;
  top: 0;
  left: -30%;
  transition: 0.5s;
  color: black;
  z-index: 800;
  text-align: left;
 
}
.sidebar_2 {
  width: 70%;
  height: 300vh;
  background-color: grey;
  opacity: 20%;
  position: fixed;
  top: 0;
  right: -70%;
  z-index: 900;
  transition: 0.5s;
  color: black;
}
 

    
input[id=trigger]:checked~.sidebar_1 {
  left: 0;
}
input[id=trigger]:checked~.sidebar_2 {
  right: 0;
} 

.main{
  
  overflow-y: hidden;
  min-height:2em;
}

section .backg {
  width: 100%;
  height: 1000px;
  /* background-color: white; */
  color: black;
  background: url(/img/cupcake-2749204_640.jpg) no-repeat center center;
  background-size: cover;
  transition: 0.5s;
  /* z-index: 1000; */
  margin-top: 100px;
}

#article {
  line-height: 90px;
  margin:10%;
}

.parent {
 
  width: 100%;
  height: 600px;
  margin: 20% 0%;
  overflow: hidden;

}

.parent div {
  float: left;
  width: 700px;
  height: 500px;
  box-sizing: border-box;
  text-align: center;
  line-height: 200px;
  font-size: 3em;
  position: relative;
  z-index: -10;
}

.left {
  animation: ltr 1s linear both;
  background: url(/img/tartintro.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px lemonchiffon inset;
}

.right {
  animation: rtl 1s linear both;
  background: url(/img/tartintro2.jpg) no-repeat center left;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px lemonchiffon inset;
}


/* keyframes로 박스 애니메이션 */
@keyframes ltr {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(-50px);
  }
}

@keyframes rtl {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  100% {
    opacity: 1;
    transform: translateX(130px);
  }
}

.btn-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 26px;
  color: white;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  transform: translateY(100px);
  transition: 0.5s;
}

.btn-top.active {
  transform: translateY(0);
  opacity: 1;
}

footer {
  width: 100%;
  height: 100px;
  margin:0px;
  background-color:black;
  color: aliceblue;

}

.review {
 width:80%;
  margin: auto;


}

.review > div {
/*  
  border: 1px solid #000; */
  height: 300px;
 
  /* background-color: #ddd; */
}

.slick-arrow {
  color: black;
}


 .stopscroll{
   height: 100%;
   overflow-y: hidden;
}

}
