 /* Icon Fontawesome&Xeicon */
  @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  @import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
  @media(min-width:701px) {

  /* Reset CSS */
 * {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }
.container {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  flex-wrap:nowrap;
}
  
[class*=fontawesome-]:before {
    font-family: "FontAwesome", sans-serif;
}

body {
    margin:0;
    font-family: "Raleway", sans-serif;
    background-color: white;
}

.stopscroll{
  margin: 0;
  overflow: hidden;
}

header {
  color: white;
  text-align: center;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color:#B18760;

}
header #nav2 a {
  font-size: 25px;
}

header a:hover {
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(17, 226, 164);
}

header li {
  display: inline-block;
  padding-left: 50px;
  padding-bottom: 30px;
}

header ul {
  margin: 0px;
}

.linner,
.ginner {
  transition: 0.8s;
}

.linner {
  background-color: white;
  height: 50px;
  line-height: 50px;
}

.ginner {

  background-color: black;
  line-height: 30px;
  z-index: 30;
  display: flex;

}
#nav1{
  flex: 1;
  display: flex;
}
#nav1  div{
  flex: 1;
  float: left;
  display: inline;
}
#logo{
  flex: 2;
}
#nav2{
  flex: 1;
}
header.active .ginner {
  display: none;

}

header.active .linner {
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.548);
  transform: translateY(-5px);
}
.ginner img{
  width: 20%;
  margin-bottom: -5%;
}

/* Hamburger button */
   input[id=trigger] {
  display: none;
}
label[for=trigger] {
  width: 100px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}
.sidebar_1 label {
  width: 100%;
  height: 100%;
  cursor: default;
}
    
/* Hamburger menubar */
.sidebar_1 {
  width: 75%;
  height: 300vh;
  background-color: grey;
  opacity: 10%;
  position: fixed;
  top: 0;
  left: -75%;
  transition: 0.0001s;
  color: black;
  z-index: 800;
  text-align: left;
 
}
.sidebar_2 {
  width: 25%;
  height: 300vh;
  background-color: white;
  opacity: 100%;
  position: fixed;
  top: 0;
  right: -25%;
  z-index: 900;
  transition: 0.5s;
  color: black;
}

.xi-close{
  font-size: 26px;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  color: darkslategrey;
}

    
input[id=trigger]:checked~.sidebar_1 {
  left: 0;
}
input[id=trigger]:checked~.sidebar_2 {
  right: 0;
}

/*RESET*/

* {

  margin: 0;

  padding: 0;

}





a {

  text-decoration: none;

  color: black;

}




li {

  list-style: none;

}




/*BODY*/

#notice {

  width: 500px;

  margin: 0 auto;

  box-sizing: border-box;

  /*outline: 1px dashed black;*/

}




#notice h1 {

  font-size: 25px;

  text-align: center;

  margin: 10px 180px;

  padding: 10px;

  color: black;

  background: white;

  border-radius: 30px;

}




#notice ul {

  width: 100%;

}




#notice ul li {

  line-height: 30px; /*li 세로 간격*/

  padding-left: 20px;

}




#notice ul li:first-child {

  border-top: 2px solid black;

  border-bottom: 2px solid black;
