     <!DOCTYPE html>
      <html lang="en">
      <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Java Tart</title>
      <link rel="stylesheet" href="/css/home/index.css">
      <link rel="stylesheet" href="/css/home/responsive.css">
     
      <!-- <script src="/js/home/login.js" defer></script> -->
      <!-- jQuery-->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.3/jquery.scrollTo.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/wowjs@1.1.3/dist/wow.min.js"></script>  
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
      <!-- Slick.js -->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
      <link rel="stylesheet" href="/css/home/slick.css">
      <link rel="stylesheet" href="/css/home/slick-theme.css">
   
      </head>
     
      <body id="appBody"> 
      <div class="container">
      <header>
          <!-- Hamburger -->
          <!-- <div class="sidemenu">
            <input type="checkbox" id="trigger">
            <label for="trigger">
              <span></span>
              <span></span>
              <span></span>
          
            </label>
            <div class="sidebar_1">
            </div>
          
            <div class="sidebar_2">
              <input type="checkbox" id="trigger">
              <label for="trigger">
              </label> -->
              <!-- onclick="history.go(0)" -->
            <!-- </div>
          
          </div> -->
          <div>
      <div class="linner">
      <li><a href="/logincustom">sign in</a></li>
      <li><a href="/cart">cart</a></li>
      <li><a href="/orders">orders</a></li>
      </div>
      <div class="ginner">
        <div id="logo">
         <a href="/"> <img src="/img/tartlogomodf2-01.png" alt=""></a>
        </div>
       
        <div id="nav">
          <nav>
          <ul>
            <!-- Hamburger -->
            <div class="sidemenu">
              <input type="checkbox" id="trigger" onclick="disableBodyScroll()">
              <label for="trigger">
                <span></span>
                <span></span>
                <span></span>
            
              </label>
              <div class="sidebar_1">
              </div>
            
              <div class="sidebar_2" >
                <input type="checkbox" id="trigger">
                <label for="trigger">
                </label>
                <!-- onclick="history.go(0)" -->
              </div>
            
            </div>
          <li><a href="/">Home</a></li>
          <li><a href="/notice">Notice</a></li>
          <li><a href="/introduce">Introduce</a></li>
          <li><a href="/bestpd">Best</a></li>
          <li><a href="/event">Event</a></li>
          </ul>
          </nav>
          </div>
          </div>
        </div>
     
    
      </header>

      <section>
        <div class="backg">
        </div>
      </section>
      <div class="main">
        <div id="app">
       <app-header></app-header>
       <app-div></app-div>
      <div id="article">
      <h1>자바를 잡아보자 팀의 홈페이지 입니다.</h1>
      <h2>공지사항, 매장소개, 베스트상품, 이벤트 로 구성될 예정입니다</h2>

      <h3>
      itaque consequatur nihil quasi? Hic perspiciatis provident laboriosam nisi eos pariatur qui similique labore modi error illo, corporis nostrum veniam voluptatum quod corrupti non repellat possimus inventore ducimus, ratione magnam id nam ipsum? Possimus, recusandae? At laudantium, ea quisquam atque  aliquam atque necessitatibus temporibus rerum, veniam dolor nisi perspiciatis sed odit officia ad neque voluptate asperiores aliquid exercitationem velit ipsam. Nihil sed odit sunt rem voluptatum molestias omnis 
      </h3>
      </div>
      <!-- Moving Box -->
      </div>
      <div class="parent">
      <div class="left wow"></div>
      <div class="right wow"></div>
      </div>
      </div>
      <!-- Slick Slider -->
      <div class="review">
      <div>
        <img src="/img/cake-3669167_640.jpg" alt="">
      </div>
      <div>
        <img src="/img/food-2822467_640.jpg" alt="">
      </div>
      <div>
        <img src="/img/tart-1283822_640.jpg" alt="">
      </div>
      <div>
        <img src="/img/chocolate-tart-5263962_640.jpg" alt="">
      </div>
      <div>
        <img src="/img/suites-4336925_64.jpg" alt="">
      </div>
      <div>
        <img src="/img/tart-351951_640.jpg" alt="">
      </div>
      <div>
        <img src="/img/dessert-5712284_640.jpg" alt="">
      </div>
      <div>
        <img src="/img/cake-1086875_640.jpg" alt="">
      </div>
 
      </div>

      </section>

      <div>

      <a href="#" class="btn-top"><i class="xi-angle-up"></i></a>
      </div>
  
      <footer>
      <div>© 2021 자바를 자바보자 All Rights Reserved</div>
      </footer>
  </div>

      <script>
     
        new WOW(
          {
                            boxClass:     'wow',  
                            offset:       150,          
                            mobile:       true,      
                            live:         true       
                          }
        ).init();
      </script>


<!-- // btn-top Jquery -->
<script>
    
      $('header a, a.btn-top').click(function(){
         $.scrollTo(this.hash || 0, 900 );
         e.preventDefault();
     }) 

      // })
</script>
<!-- Header btn-top Active Class -->
<script>
 
      $(window).scroll(function(){
      if($(window).scrollTop() > 50) {
        $('header, .btn-top').addClass('active');
      }
      else{
        $('header, .btn-top').removeClass('active');
      }
      })

    
</script>
<script>
  function disableBodyScroll() {
      const element = document.querySelector("#appBody");
      element.classList.toggle("stopscroll");
    }

</script>
<!-- Slick Slider Jquery -->
<script>
 
    $('.review').slick({
        arrows: true,
        dots:false,
  infinite: true,
  speed: 500,
  slidesToShow: 3,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 1000,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 3,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});


    </script>
      </body>
      </html>
