<!DOCTYPE html>
<html lang="ko">
  <head>
   <meta charset="UTF-8">
   <title>공지사항</title>
   <link rel="stylesheet" href="./css/jin.css">
   <link rel="stylesheet" href="#">
   <link href="#">
   </head>

  
   <body id="appBody"> 
  <div class="container">
    <header>
      <div class="ginner">
        <div class="nav" id="nav1">
          <nav>
          <div>
             <li><a href="/contact"><i class="xi-call">031 000 1234</i></a></li>
            </div>
            <div>
             <li><a href="/delivery"><i class="xi-truck">Delivery</i></a></li>
            </div>
          </nav>
        </div>
        <div id="logo">
          <a href="/"> <img src="/img/tartlogomodf1-01.png" style="width: 300px; height:200px; object-fit: cover; margin-top: 20px;"";" alt=""></a>
        </div>
          <div class="nav" id="nav2">
          <nav>
            <ul>
                <li><a href="/logincustom"><i class="xi-user">Log In</i></a></li>
                <li>
                  <!-- Hamburger -->
                  <div class="sidemenu">
                    <input type="checkbox" id="trigger" onclick="disableBodyScroll()">
                    <label for="trigger">
                      <i class="xi-basket"  style="color: #B18760; font-size: 26px;"></i>
                    </label>
                    <div class="sidebar_1">
                      <input type="checkbox" id="trigger">
                      <label for="trigger">
                      </label>
                  
                    </div>
                 
                    <div class="sidebar_2">
                        <label for="trigger"> <div class="xi-close"></div></label>
                    </div>
                  
                  
                  </div>
                </li>
            </ul>
          </nav>
          </div>
      </div>
    <div class="linner">
      <div class="nav">
        <nav>
          <ul>
            <!-- Hamburger -->
            <!-- <div class="sidemenu">
              <input type="checkbox" id="trigger" onclick="disableBodyScroll()">
              <label for="trigger">
              <i class="xi-truck"></i>
    
              </label>
              <div class="sidebar_1">
              </div>
    
              <div class="sidebar_2">
                <input type="checkbox" id="trigger">
                <label for="trigger">
                </label>
               
              </div>
    
            </div> -->
            <li><a href="/">Home</a></li>
            <li><a href="/notice">Notice</a></li>
            <li><a href="/introduce">Introduce</a></li>
            <li><a href="/bestpd">Best</a></li>
            <li><a href="/event">Event</a></li>
          </ul>
        </nav>
      </div>
    
    </div>
</header>
       
     <div id="notice">

      <h1>공지사항</h1>
  
      <ul>
  
          <li>내용<span>날짜</span></li>
  
          <li><a href="#">아무거라도 좋으니 내용을 입력하세요!!!&nbsp;</a><span>2021-05-26</span></li>
  
          <li><a href="#">아무거라도 좋으니 내용을 입력하세요!!!&nbsp;</a><span>2021-05-26</span></li>
  
          <li><a href="#">아무거라도 좋으니 내용을 입력하세요!!!&nbsp;</a><span>2021-05-26</span></li>
  
          <li><a href="#">아무거라도 좋으니 내용을 입력하세요!!!&nbsp;</a><span>2021-05-26</span></li>
  
          <li><a href="#">아무거라도 좋으니 내용을 입력하세요!!!&nbsp;</a><span>2021-05-26</span></li>
  
          <li><a href="#">아무거라도 좋으니 내용을 입력하세요!!!&nbsp;</a><span>2021-05-26</span></li>
  
          <li><a href="#">아무거라도 좋으니 내용을 입력하세요!!!&nbsp;</a><span>2021-05-26</span></li>
  
          <li><a href="#">아무거라도 좋으니 내용을 입력하세요!!!&nbsp;</a><span>2021-05-26</span></li>
  
      </ul>
  
  </div>
  
   </body>
</html>
