     <!DOCTYPE html>
      <html lang="en">
      <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Java Tart</title>
      <link rel="stylesheet" href="/css/home/login.css">
  
      <link rel="stylesheet" href="/css/home/responsive.css">
        <script src="/js/home/login.js" defer></script>
     
      </head>
     
      <body id="appBody" > 
      <div class="container">
      <header>
      <div class="ginner">
        <div id="logo">
         <a href="/"> <img src="/img/tartlogomodf1-01.png" alt=""></a>
        </div>
       
        <div id="nav">
          <nav>
          <ul>
            <!-- Hamburger -->
            <div class="sidemenu">
              <input type="checkbox" id="trigger">
              <label for="trigger">
                <span></span>
                <span></span>
                <span></span>
            
              </label>
              <div class="sidebar_1">
              </div>
            
              <div class="sidebar_2" >
                <input type="checkbox" id="trigger">
                <label for="trigger">
                </label>
                <!-- onclick="history.go(0)" -->
              </div>
            
            </div>
          <li><a href="/">Home</a></li>
          <li><a href="/notice">Notice</a></li>
          <li><a href="/introduce">Introduce</a></li>
          <li><a href="/bestpd">Best</a></li>
          <li><a href="/event">Event</a></li>
          </ul>
          </nav>
          </div>
          </div>
        </div>
     
    
      </header>

      <section>
        <div class="backg">
        </div>
      </section>
      <div class="main">
      <!-- <input id="id" type="text" placeholder="아이디"><br>
      <input id="password" type="text" placeholder="비밀번호"><br>
      <button>로그인</button> -->
        <form action="#" id="login-form">
            <!-- <form action="#" id="login-form"> -->
        <div class="idps">
          <label for="text">ID</label> <br />
          <input type="text" name="text" id="id" placeholder="아이디" /> <br />
          <label for="password">Password</label> <br />
          <input type="password" name="password" id="password" placeholder="비밀번호" /> <br />
          <p id="button">로그인</p>
          <p class="message">Not registered?<a href="/register">Create an account</a> </p>
        </div>
      </form>
        <footer>
        <div>© 2021 자바를 자바보자 All Rights Reserved</div>
        </footer>
  </div>



      </body>
      </html>
